<div class="container">
  <header>
    <mat-toolbar>
      <button mat-button (click)="openListPicker()">
        <h2>
          <ng-container
            *ngIf="selectedList | async; let list; else: selectList"
          >
            {{ list.name }}
          </ng-container>
          <ng-template #selectList> Select list </ng-template>
        </h2>
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settingsMenu="matMenu">
        <ng-container *ngIf="selectedList | async; let list">
          <button
            mat-menu-item
            [disabled]="!subscription.closed"
            (click)="removeCrossed(list)"
          >
            Remove crossed
          </button>
          <button
            mat-menu-item
            [disabled]="!subscription.closed"
            (click)="removeAll(list)"
          >
            Remove all
          </button>
        </ng-container>
        <button mat-menu-item (click)="logout()">Log out</button>
      </mat-menu>
    </mat-toolbar>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <nav class="nav">
    <div class="nav-item">
      <a mat-button routerLink="/app/main" title="Your active list">
        <mat-icon>receipt_long</mat-icon>
      </a>
    </div>
    <div class="nav-item">
      <a mat-button routerLink="/app/items" title="Items">
        <mat-icon>category</mat-icon>
      </a>
    </div>
  </nav>
</div>
