.form {
  display: flex;
  font-size: 1.4rem;
  mat-form-field {
    flex: 1;
  }
}

.container {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
}

.list-item {
  display: flex;
  align-items: center;
  font-size: 1.4rem;

  &__badge {
    background-color: #c6f6d5;
    border-radius: 4px;
    padding: 0.25rem;
    // font-size: 1.2rem;
  }
}
