<div *ngIf="selectedList(); let list" class="container">
  <form class="form" (submit)="onSubmit(autocompleteControl.value)">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{ "NEW_ITEM" | translate }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="autocompleteControl"
        [matAutocomplete]="auto"
        [readonly]="!addItemSubscription.closed"
        autocapitalize="none"
        autocorrect="off"
        autocomplete="off"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [autoSelectActiveOption]="true"
        (optionSelected)="onOptionSelected($event)"
      >
        <mat-option
          *ngFor="let option of filteredItems()"
          [value]="option.name"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div class="list-items">
    <div *ngFor="let item of list.items" class="list-item">
      <mat-checkbox [ngModel]="item.crossed" (click)="crossListItem(item)">
        <span>
          {{ item.itemName }}
        </span>
        <span *ngIf="item.count > 1" class="list-item__badge">
          {{ item.count }}
        </span>
      </mat-checkbox>
    </div>
  </div>
</div>
