<form [formGroup]="form" (submit)="createList()" class="form">
  <mat-form-field>
    <mat-label>{{ "NEW_LIST" | translate }}</mat-label>
    <input
      matInput
      formControlName="listName"
      type="text"
      [readonly]="!subscription.closed"
    />
  </mat-form-field>
</form>
<div class="lists">
  <mat-list>
    <mat-list-item *ngFor="let list of lists()">
      <div class="list-item-container">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <button
          [disabled]="!subscription.closed"
          mat-button
          (click)="selectList(list)"
        >
          {{ list.name }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>{{ "RENAME" | translate }}</span>
          </button>
          <button
            mat-menu-item
            [disabled]="!subscription.closed"
            (click)="deleteList(list)"
          >
            <mat-icon>delete_forever</mat-icon>
            <span>{{ "DELETE" | translate }}</span>
          </button>
        </mat-menu>
      </div>
    </mat-list-item>
  </mat-list>
</div>
