<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <h1>{{ "SSS_TITLE" | translate }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions align="end">
      <a mat-button extended [routerLink]="['/app']">
        <mat-icon>open_in_new</mat-icon>
        {{ "GO_TO_APP" | translate }}
      </a>
    </mat-card-actions>
    <mat-card-content>
      <p>{{ "SSS_DESCRIPTION" | translate }}</p>
      <p>TODO: Update images</p>
      <div class="images">
        <img
          class="image"
          src="/assets/img/screenshot.png"
          alt="Screenshot of application on mobile device"
          mat-card-image
        />
        <img
          class="image"
          src="/assets/img/screenshot_landscape.png"
          alt="Screenshot of application"
          mat-card-image
        />
      </div>
    </mat-card-content>
  </mat-card>
</div>
