<div *ngIf="!getSubscription.closed; else itemsTempl">
  <mat-spinner></mat-spinner>
</div>
<ng-template #itemsTempl>
  <div class="items">
    <mat-card *ngFor="let item of items | async">
      <mat-card-content>
        <mat-card-title>
          {{ item.name }}
        </mat-card-title>
      </mat-card-content>
      <mat-card-actions [align]="'end'">
        <button
          mat-button
          [disabled]="!subscription.closed"
          (click)="deleteItem(item)"
        >
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
